/* Base Styles -------------------- */

body {
	max-width: 100%;
	margin: 0 auto;
	background-color: white;
}

h1 {
	padding: 50px 100px 50px 0;
	color: white;
	width: 100%;
	font-size: 40px;
	margin: 0 auto;
	position: absolute;
	z-index: 100;
	text-align: center;
}

::-webkit-input-placeholder {
	text-align: right;

}

::-moz-placeholder {
	text-align: right;

}

::-ms-input-placeholder {
	text-align: right;

}




img {
	height: 150px;
	width: 100%;
	left: 0;
	top: 0;
	position: relative;
	
	
}


legend {
	font-size: 20px;
	font-weight: bold;
	padding: 20px 0 5px 0;
	margin-top: 5px;
	width: 100%;
	border-top: 2px solid black;
	
}

h2 {
	text-align: center;

}


.underline p {
	text-align: center;
	border-bottom: 5px solid black;
	padding-bottom: 40px;
	width: 100%;
}

p {
	text-align: left;
}

header p {
	text-align: center;
}

label.light {
display: inline;	
font-weight: 300;

}

label {
  display: inline-block;
  margin-bottom: 8px;
  clear: right;
  text-align: right;
  font-size: 15px;
}

footer {
  min-height: 20px;
  text-align: center;
  max-width: 100%;
}

footer.copyright {
	top: -8px;
	font-size: .75em;
}

.contact-form {
	width: 90%;
	display: inline-block;
	padding-top: 10px; 
	box-sizing: border-box;
}

#message {
	padding: 10px;
	width: 100%;
	vertical-align: middle;
	height: 80px;

}

.btn {
  cursor: pointer;
  font-size: .875em;
  font-weight: 400;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  margin: 10px;
  max-width: 100%;
  background-color: #add8e6;
  border-radius: 10px;

}

fieldset {
	padding: 10px;
	margin-bottom: 10px;
	display: inline-block;
	vertical-align: middle;
	border: none;
	width: 100%;
	height: 100%;
	background-color: #e6e6fa;
	
}

#container {
	max-width: 80%;
	margin: auto;
}

input[type=checkbox]:focus,
input[type=radio]:focus {
	outline: 0;
}




input[type=checkbox]:checked + label,
input[type=radio]:checked + label {
	margin: 0 4px 8px 0;
	cursor: pointer;
	
}

#zipcode {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 20px;
  height: 40px;
  margin: 0;
  outline: 0;
  background-color: #bced91;
  color: #8a97a0;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.03);
  margin-bottom: 30px;
  width: 60%;
  display: block;
}



input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 20px;
  height: 40px;
  margin: 0 auto;
  outline: 0;
  padding: 0;
  width: 100%;
  background-color: #bced91;
  color: #8a97a0;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.03);
  margin-bottom: 30px;
  
}

#state {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 20px;
  height: 40px;
  margin: 0 auto;
  outline: 0;
  padding: 0;
  width: 100%;
  background-color: #bced91;
  color: #8a97a0;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.03);
  margin-bottom: 30px;

}

input:focus {
	border-color: #9ecaed;
	box-shadow: 0 0 100px #9ecaed;
	outline: solid;
}

#zipcode:focus {
	border-color: #9ecaed;
	box-shadow: 0 0 100px #9ecaed;
	outline: solid;
}



#message:focus {
	border-color: #9ecaed;
	box-shadow: 0 0 100px #9ecaed;
	outline: solid;
}



.btn {
	width: 95%
}







/*********************MEDIA QUERY***************************/

@media screen and (min-width: 760px) {
	body {
	max-width: 100%;
	margin: 0 auto;
}

h1 {
	padding: 30px 0 80px 0;
	color: white;
	width: 100%;
	font-size: 30px;
	margin: 0 auto;
	position: absolute;
	z-index: 100;
	text-align: center;
	
}

.underline p {
	text-align: center;
	border-bottom: 5px solid black;
	
	width: 100%;
}


img {
	height: 100px;
	max-width: 100%;
	left: 0;
	top: 0;
	position: relative;
}

.title-pic {
	max-width: 100%;
	background-size: 100px;
}

#container {
	
	width: 60%;
	margin:0 auto;
}

.contact-form {
	box-sizing: border-box;
	width: 100%;
	display: inline-block;

}



#zipcode  {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 20px;
  height: 40px;
  max-width: 100px;
  outline: 0;
  padding: 0;
  margin: 0;
  background-color: #bced91;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  float: left;
  
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 20px;
  height: 40px;
  margin: 0;
  outline: 0;
  padding: 0;
  max-width: 60%;
  background-color: #bced91;
  color: #8a97a0;
  box-shadow: inset 0 5px 0 rgba(0,0,0,0.03);
  margin-bottom: 30px;
  float: right;
}

#state {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 20px;
  height: 40px;
  margin: 0;
  outline: 0;
  padding: 0;
  max-width: 60%;
  background-color: #bced91;
  color: #8a97a0;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.03);
  margin-bottom: 30px;
  
}


textarea {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 20px;
  height: 20px;
  margin: 0;
  outline: 0;
  padding: 0;
  max-width: 95%;
  background-color: #bced91;
  color: #8a97a0;
  box-shadow: inset 0 5px 0 rgba(0,0,0,0.03);
  margin-bottom: 30px;
  vertical-align: middle;

}

div label {
	width: 40%;
	float: left;
	text-align: left;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 25px;
  
}



input[type=checkbox],
input[type=radio] {
	margin: 0 4px 8px 0;
	cursor: pointer;
	position: relative;
	font-size: 10px;
	float: left;
	display: inline-block;
}

input:focus {
	border-color: #9ecaed;
	box-shadow: 0 0 50px #9ecaed;
	outline: solid;
}

#zipcode:focus {
	border-color: #9ecaed;
	box-shadow: 0 0 100px #9ecaed;
	outline: solid;
}

label.light {
font-weight: 300;
font-size: 15px;
}

footer {
  min-height: 20px;
  padding: 15px;
  margin: 0;
  text-align: center;
}

fieldset {
	margin-bottom: 30px;
	border: none;
	width: 95%;

	
}

.black-header {
	width: 100%;
}

.btn {
	width: 95%;

}



	
}

